<div class="page__content">
    <h2>{{ stepNumber }} - Database settings</h2>
    <p>
        In this step, we'll set the <strong>access credentials to Loxya database</strong>.
        Please pay attention to all settings in the form, and overwrite them to
        suit your needs. If you need help, just read the setting's description.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <h3 class="form__field-title">MySQL Host</h3>
            <p class="form__field-description">
                The host name of your MySQL server.
            </p>
            <input
                type="text"
                name="host"
                style="width: 300px;"
                value="{{ config['db']['host'] }}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title">MySQL User</h3>
            <p class="form__field-description">
                The user name that will be used to access Loxya database.
            </p>
            <input
                type="text"
                name="username"
                style="width: 200px;"
                value="{{ config['db']['username'] }}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title">MySQL Password</h3>
            <p class="form__field-description">
                The password that will be used to access Loxya database.
            </p>
            <input
                type="password"
                name="password"
                style="width: 200px;"
                value="{{ config['db']['password'] }}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title">Database name</h3>
            <p class="form__field-description">
                The name of the database where to store Loxya data.
            </p>
            <input
                type="text"
                name="database"
                style="width: 200px;"
                value="{{ config['db']['database'] }}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title">Tables prefix</h3>
            <p class="form__field-description">
                An optional prefix to use for tables names (leave blank in most cases).
                Don't forget to add a character to separate (like _ or -) at the end of
                the string.
            </p>
            <input
                type="text"
                name="prefix"
                style="width: 150px;"
                value="{{ config['db']['prefix'] }}"
            />
        </div>
        <div class="form__submit">
            <button role="submit">Next step</button>
        </div>
    </form>
</div>
