<section class="page__content">
    <h2>{{ stepNumber }} - Paramètres de l'application</h2>
    <p>
        In this step we'll define some important parameters for <strong>your personnal</strong>
        use of Loxya.
    </p>
    <form method="POST" class="form">
        <section class="form__field">
            <h3 class="form__field-title">Default language</h3>
            <p class="form__field-description">
                The language that Robert will use by default for new users.
            </p>
            <select name="defaultLang" style="width: 150px;">
                <option value="en" selected>English</option>
                <option value="fr">Français</option>
            </select>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Currency</h3>
            <p class="form__field-description">
                The currency used to display prices in the application.
            </p>
            <select class="currency-selector" name="currency" style="width: 300px;">
                {% for currency in stepData['currencies'] %}
                <option value="{{ currency['code'] }}" {% if currency['code'] == stepData['currency'] %}selected{% endif %}>
                    {{ currency['code'] }} - {{ currency['name'] }}
                </option>
                {% endfor %}
            </select>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Usage mode</h3>
            <p class="form__field-description">
                Define what use you will make of Loxya, from among the following three choices&nbsp;:
            </p>
            <div class="form__radio" style="margin-top: .5rem;">
                <input
                    type="radio"
                    id="billingModeAll"
                    name="billingMode"
                    value="{{ constant('Loxya\\Config\\Enums\\BillingMode::ALL').value }}"
                    onchange="handleBillingModeChange(this)"
                />
                <label for="billingModeAll">
                    <strong>Equipment rental</strong>&nbsp;:
                    Billing enabled for all events.
                </label>
            </div>
            <div class="form__radio">
                <input
                    type="radio"
                    id="billingModePartial"
                    name="billingMode"
                    value="{{ constant('Loxya\\Config\\Enums\\BillingMode::PARTIAL').value }}"
                    onchange="handleBillingModeChange(this)"
                    checked
                />
                <label for="billingModePartial">
                    <strong>Equipment rental AND loan</strong>&nbsp;:
                    The choice is made for each event.
                </label>
            </div>
            <div class="form__radio">
                <input
                    type="radio"
                    id="billingModeNone"
                    name="billingMode"
                    value="{{ constant('Loxya\\Config\\Enums\\BillingMode::NONE').value }}"
                    onchange="handleBillingModeChange(this)"
                />
                <label for="billingModeNone">
                    <strong>Loan of equipment</strong>&nbsp;:
                    No billing at all.
                </label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Max items per page
            </h3>
            <p class="form__field-description">
                The maximum number of items displayed per page in listings.
            </p>
            <div class="form__input">
                <input
                    type="number"
                    step="1"
                    name="maxItemsPerPage"
                    value="{{ config['maxItemsPerPage'] }}"
                />
                <label for="maxItemsPerPage">items</label>
            </div>
        </section>
        <section class="form__submit">
            <button role="submit">Next step</button>
        </section>
    </form>
</section>

<script src="{{ asset('/installer/js/modeToggle.js') }}"></script>
