<div class="page__content">
    <h2>Welcome !</h2>
    <p>
        This is the Loxya installation wizard, version <strong>{{ version() }}</strong>.<br />
        It will guide you, in 5 short steps, to set the configuration of your application.
    </p>
    <p>
        At the very end of the wizard, you'll be able to use Loxya!<br />
        But first, let's make sure that your environment has the minimum requirements
        for everything to work properly.
    </p>
    <div class="install__check">
        Loxya is compatible with PHP version
        <strong>{{ phpVersionMin }}</strong> to <strong>{{ phpVersionMax }}</strong>.
        <div class="install__check-result">
            {% if phpversionIsAboveMax %}
            <div class="install__check-warning">
                Your PHP version (<strong>{{ phpVersion }}</strong>) is higher than the PHP version
                officially supported by Loxya (<strong>{{ phpVersionMax }}</strong>).
                <br /><br />
                It may work flawlessly, but if it doesn't, you'll have to wait for an official release.
            </div>
            {% elseif phpversionIsAboveMin %}
            <div class="install__check-success">
                OK, PHP version: <strong>{{ phpVersion }}</strong>
            </div>
            {% else %}
            <div class="install__check-error">
                Your PHP version (<strong>{{ phpVersion }}</strong>) is lower than the
                minimal version required to run Loxya (<strong>{{ phpVersionMin }}</strong>).
                <br /><br />
                Please install at least PHP <strong>{{ phpVersionMin }}</strong> and at most
                PHP <strong>{{ phpVersionMax }}</strong>, then try again.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="install__check">
        There are some PHP extensions that must be installed.
        <div class="install__check-result">
            {% for extension in missingExtensions %}
            <li class="install__check-error">Extension "{{ extension }}" is missing.</li>
            {% else %}
            <span class="install__check-success">All needed extensions installed!</span>
            {% endfor %}
        </div>
    </div>
    {% if phpversionIsAboveMin and missingExtensions is empty %}
    <p>
        {% if phpversionIsAboveMax %}
            Apart from the PHP version, the other prerequisites are satisfied, so you
            can install Loxya if you're really sure.
        {% else %}
            Congratulations, all minimum requirements are met. You can now install Loxya.
        {% endif %}
    </p>
    <form method="POST" class="form">
        <div class="form__submit">
            <button role="submit">Let's go!</button>
        </div>
    </form>
    {% else %}
    <p>
        Unfortunately, in the current state of your environment,
        <strong class="install__check-error">Loxya cannot be installed</strong>
        because the minimum requirements are not met.  After having corrected the points listed above,
        come back here and retry!
    </p>
    {% endif %}
</div>
