<section class="page__content">
    <h2>{{stepNumber}} - Paramètres du coeur de Robert2</h2>
    <p>
        Dans cette étape, la configuration qui a été <strong>détectée automatiquement</strong>,
        mais vous avez la possibilité de vérifier et de modifier tous les paramètres, si vous ête sûr(e)
        de vous&nbsp;!
    </p>
    <form method="POST" class="form">
        <section class="form__field">
            <h3 class="form__field-title">URL de l'application</h3>
            <p class="form__field-description">
                C'est l'adresse de base de l'application, que vous utiliserez tous les jours.
            </p>
            <input type="text" name="baseUrl" size="10" value="{{config['baseUrl']}}" />
        </section>
        <p>
            <a onclick="showHiddenFieldset()" id="show-fieldset" class="form__fieldset-toggle">
                Afficher les paramètres avancés...
            </a>
        </p>
        <fieldset class="form__fieldset form__fieldset--hidden">
            <section class="form__field">
                <h3 class="form__field-title">
                    Activer CORS (Cross Origin Resource Sharing)
                </h3>
                <p class="form__field-description">
                    Si activé, il sera possible d'utiliser l'API depuis un autre nom de domaine
                    (moins sécurisé, mais peut être utile dans certains cas).
                </p>
                <div class="form__radio">
                    <input
                        type="radio"
                        id="enableCorsYes"
                        name="enableCORS"
                        value="1"
                        {% if config['enableCORS'] %} checked="checked" {% endif %}
                    />
                    <label for="enableCorsYes">Oui</label>
                    <input
                        type="radio"
                        id="enableCorsNo"
                        name="enableCORS"
                        value="0"
                        {% if not config['enableCORS'] %} checked {% endif %}
                    />
                    <label for="enableCorsNo">Non</label>
                </div>
            </section>
            <section class="form__field">
                <h3 class="form__field-title">
                    Erreurs détaillées
                </h3>
                <p class="form__field-description">
                    Afficher ou pas le détail des erreurs dans les réponses.
                </p>
                <div class="form__radio">
                    <input
                        type="radio"
                        id="displayErrorsYes"
                        name="displayErrorDetails"
                        value="1"
                        {% if config['displayErrorDetails'] %} checked="checked" {% endif %}
                    />
                    <label for="displayErrorsYes">Oui</label>
                    <input
                        type="radio"
                        id="displayErrorsNo"
                        name="displayErrorDetails"
                        value="0"
                        {% if not config['displayErrorDetails'] %} checked {% endif %}
                    />
                    <label for="displayErrorsNo">Non</label>
                </div>
            </section>
            <section class="form__field">
                <h3 class="form__field-title">Cache du Routing</h3>
                <p class="form__field-description">
                    Utiliser ou pas le cache des routes d'API.
                </p>
                <div class="form__radio">
                    <input
                        type="radio"
                        id="useRouterCacheYes"
                        name="useRouterCache"
                        value="1"
                        {% if config['useRouterCache'] %} checked="checked" {% endif %}
                    />
                    <label for="useRouterCacheYes">Oui</label>
                    <input
                        type="radio"
                        id="useRouterCacheNo"
                        name="useRouterCache"
                        value="0"
                        {% if not config['useRouterCache'] %} checked {% endif %}
                    />
                    <label for="useRouterCacheNo">Non</label>
                </div>
            </section>
            <section class="form__field">
                <h3 class="form__field-title">
                    Durée des sessions
                </h3>
                <p class="form__field-description">
                    Le temps d'expiration d'une session, autrement dit le nombre d'heures que peut durer
                    une session sur Robert avant que l'utilisateur soit obligé de se re-connecter.
                </p>
                <div class="form__input">
                    <input
                        type="number"
                        step="1"
                        name="sessionExpireHours"
                        value="{{config['sessionExpireHours']}}"
                    />
                    <label for="sessionExpireHours">heures</label>
                </div>
            </section>
            <section class="form__field">
                <h3 class="form__field-title">
                    Phrase secrète du jeton d'authentification (JWT)
                </h3>
                <p class="form__field-description">
                    Une phrase secrète qui permet de renforcer la sécurité. Le code ci-dessous a été généré
                    automatiquement de façon aléatoire. Mais vous pouvez écrire le vôtre, alors soyez inventif !
                    Évitez juste les espaces.
                </p>
                <input
                    type="text"
                    name="JWTSecret"
                    value="{{stepData['JWTSecret']}}"
                />
            </section>
            <section class="form__field">
                <h3 class="form__field-title">
                    Nom du header HTTP AUTH
                </h3>
                <p class="form__field-description">
                    Il s'agit du nom du <em>header</em> de requête HTTP qui portera le jeton d'API permettant
                    l'authentification de l'utilisateur. Dans la plupart des cas, cela devrait être
                    <code>"Authorization"</code>.
                </p>
                <input
                    type="text"
                    name="httpAuthHeader"
                    value="{{config['httpAuthHeader']}}"
                />
            </section>
            <p>
                <a onclick="hideHiddenFieldset()" class="form__fieldset-toggle">
                    ^^ Cacher les paramètres avancés ^^
                </a>
            </p>
        </fieldset>
        <section class="form__submit">
            <button role="submit">Étape suivante</button>
        </section>
    </form>
</div>

<script src="{{ asset('/installer/js/fieldsetToggle.js') }}"></script>