<div class="page__content">
    <h2>{{stepNumber}} - Configuration de la base de données</h2>
    <p>
        Dans cette étape, nous allons définir les <strong>paramètres d'accès à la
        base de données de Robert2</strong>. Veuillez bien faire attention à tous les
        points du formulaire, en les modifiant pour que Robert ait accès à la base de
        données. Pour vous aider, lisez simplement la description de chaque paramètre.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <h3 class="form__field-title" for="host">Serveur MySQL (host)</h3>
            <p class="form__field-description">
                Le nom du serveur hôte MySQL.
            </p>
            <input
                type="text"
                name="host"
                style="width: 300px;"
                value="{{config['db']['host']}}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title" for="username">Utilisateur MySQL (user)</h3>
            <p class="form__field-description">
                Le nom de l'utilisateur ayant accès à la base de données de Robert2.
            </p>
            <input
                type="text"
                name="username"
                style="width: 200px;"
                value="{{config['db']['username']}}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title" for="password">Mot de passe MySQL (password)</h3>
            <p class="form__field-description">
                Le mot de passe à utiliser pour accéder à la base de données de Robert2.
            </p>
            <input
                type="password"
                name="password"
                style="width: 200px;"
                value="{{config['db']['password']}}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title" for="database">Nom de la base de données</h3>
            <p class="form__field-description">
                Le nom de la base de données où seront stockées les données de Robert2.
            </p>
            <input
                type="text"
                name="database"
                style="width: 200px;"
                value="{{config['db']['database']}}"
            />
        </div>
        <div class="form__field">
            <h3 class="form__field-title" for="prefix">Préfixe des tables</h3>
            <p class="form__field-description">
                Un préfixe à ajouter aux noms des tables de la BDD (optionnel, à laisser
                vide en général). N'oubliez pas d'ajouter un caractère séparateur (par
                exemple _ ou -) à la fin du préfixe.
            </p>
            <input
                type="text"
                name="prefix"
                style="width: 150px;"
                value="{{config['db']['prefix']}}"
            />
        </div>
        <div class="form__submit">
            <button role="submit">Étape suivante</button>
        </div>
    </form>
</div>
