<div class="page__content">
    <h2>Bienvenue&nbsp;!</h2>
    <p>
        Voici l'assistant d'installation de Loxya, version <strong>{{version()}}</strong>.<br />
        Il va vous guider, en 5 petites étapes, pour installer et configurer votre application.
    </p>
    <p>
        À la toute fin de cet assistant, vous serez en mesure d'utiliser Loxya&nbsp;!<br />
        Mais avant, vérifions que votre environnement dispose du minimum requis pour que tout fonctionne correctement.
    </p>
    <div class="install__check">
        Loxya est compatible avec PHP de la version <strong>{{phpVersionMin}}</strong> à <strong>{{phpVersionMax}}</strong>.
        <div class="install__check-result">
            {% if phpversionIsAboveMax %}
            <div class="install__check-warning">
            Attention, votre version de PHP (<strong>{{phpVersion}}</strong>) est supérieure à la version
            de PHP officiellement supportée par Loxya (<strong>{{phpVersionMax}}</strong>).
            <br /><br />
            Il est possible que cela fonctionne sans problème mais si ce n'est pas le cas,
            il faudra attendre une release officielle.
            </div>
            {% elseif phpversionIsAboveMin %}
            <div class="install__check-success">
                OK, version de PHP utilisée : <strong>{{phpVersion}}</strong>
            </div>
            {% else %}
            <div class="install__check-error">
                Votre version de PHP (<strong>{{phpVersion}}</strong>) est inférieure à la version
                minimum requise pour exécuter Loxya (<strong>{{phpVersionMin}}</strong>).
                <br /><br />
                Veuillez installer au minimum PHP <strong>{{phpVersionMin}}</strong> et au
                maximum PHP <strong>{{phpVersionMax}}</strong>.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="install__check">
        Quelques extensions PHP doivent aussi être installées.
        <div class="install__check-result">
            {% for extension in missingExtensions %}
            <li class="install__check-error">L'extension &laquo;&nbsp;{{extension}}&nbsp;&raquo; est manquante.</li>
            {% else %}
            <span class="install__check-success">Toutes les extensions requises sont présentes&nbsp;!</span>
            {% endfor %}
        </div>
    </div>
    {% if phpversionIsAboveMin and missingExtensions is empty %}
    <p>
        {% if phpversionIsAboveMax %}
            Mis à part la version de PHP, les autres pré-requis sont satisfaits, vous pouvez
            donc installer Loxya si vous le souhaitez.
        {% else %}
            Félicitations, toutes les exigences minimales sont satisfaites.
            Vous pouvez maintenant installer Loxya.
        {% endif %}
    </p>
    <form method="POST" class="form">
        <div class="form__submit">
            <button role="submit">C'est parti&nbsp;!</button>
        </div>
    </form>
    {% else %}
    <p>
        Malheureusement, en l'état, <strong class="install__check-error">il n'est pas possible
        d'installer Loxya</strong> car votre environnement ne dispose pas de
        la configuration minimale requise. Après avoir corrigé les points soulignés
        plus haut, revenez ici et réessayez&nbsp;!
    </p>
    {% endif %}
</div>
