<span class="lighter" style="white-space: nowrap;">
    {{ attribute['name'] }} :
    {% if attribute['type'] == 'boolean' %}
    {{ attribute['value'] == '1' ? translate("yes") : translate("no") }}.
    {% elseif attribute['type'] == 'date' %}
    {{ attribute['value']|format_date('short', locale=locale) }}.
    {% else %}
    {{ attribute['value'] }}
    {% endif %}
    {% if attribute['unit'] is not empty %}
    {{ attribute['unit'] }}.
    {% endif %}
</span>
