<tr>
    <td>{{ material['reference'] }}</td>
    <td>
        {{ material['name'] }}

        {% if material['units'] is not empty %}
        <ul style="margin: 1mm 0 0;">
        {% for unit in material['units'] %}
            <li>{{ unit['name'] }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </td>
    <td class="right lighter">
        {{ material['replacementPrice']|format_currency(currency, formatCurrencyOptions, locale) }}
    </td>
    <td class="center">
        {{ material['stockQuantity'] }}
    </td>
    <td></td>
</tr>
