{%- set showPark = withoutPark == false and material.material.park.name is not empty -%}
<tr>
    {% if showPictures -%}
    <td class="picture-cell">
        <img
            src="{{ material.material.picture ?: baseUrl ~ '/img/material-picture-placeholder.png' }}"
            class="material-picture"
        />
    </td>
    {% endif -%}
    <td>{{ material.reference }}</td>
    <td>
        {{- material.name }}
        {%- if showPark -%}
            {{- ' ' -}}
            <em class="lighter">({{ material.material.park.name }})</em>
        {%- endif -%}
        {%- if material.material.attributes is not empty -%}
            <br />
            {%- for attribute in material.material.attributes -%}
                {{ include('blocks/materials/attribute.twig', { attribute }) -}}
            {%- endfor -%}
        {%- endif -%}
    </td>
    {% if showDescriptions -%}
    <td class="max50mm">
        {{- material.material.description|nl2br -}}
    </td>
    {% endif -%}
    {% if showTags -%}
    <td class="center">
        {%- for tag in material.material.tags -%}
        {{ tag.name }}<br />
        {%- endfor -%}
    </td>
    {% endif -%}
    {% if showReplacementPrices -%}
    <td class="right lighter">
        {{- (material.unit_replacement_price ?? 0)|format_currency(event.currency, locale=locale) -}}
    </td>
    <td class="right lighter">
        {{- (material.total_replacement_price ?? 0)|format_currency(event.currency, locale=locale) -}}
    </td>
    {% endif -%}
    <td class="center">
        {{- material.quantity -}}
    </td>
    <td class="center"></td>
</tr>
