<tr>
    <td>{{ material.reference }}</td>
    <td>
        {{ material.name }}
        {% if material.attributes is not empty %}
            <br />
            {% for attribute in material.attributes %}
                {{ include('blocks/materials/attribute.twig', { attribute: attribute }) }}
            {% endfor %}
        {% endif %}
    </td>
    <td class="right lighter">
        {{ material.replacement_price|format_currency(currency, locale=locale) }}
    </td>
    <td class="center">
        {{ material.stock_quantity }}
    </td>
    <td></td>
</tr>
