<tr class="{{ html_classes('LineInventory', {
    'LineInventory--with-missing': material['hasMissing'],
    'LineInventory--with-broken' : material['hasBroken']
}) }}">
    <td>{{ material['reference'] }}</td>
    <td>
        {{ material['name'] }}
        {% if material['units'] is not empty %}
        <ul style="margin: 1mm 0 0;">
        {% for unit in material['units'] %}
            <li class="{{ html_classes('LineInventory__unit', {
                'LineInventory__unit--broken': unit['is_broken_current'],
                'LineInventory__unit--lost': unit['is_lost_current'],
                'LineInventory__unit--with-success': (
                    unit['is_new']
                    or (unit['is_lost_previous'] and not unit['is_lost_current'])
                    or (unit['is_broken_previous'] and not unit['is_broken_current'])
                )
            }) }}">
                    {{ unit['reference'] }}
                {% if unit['is_new'] %}
                    -> {{ translate('is-new') }}
                {% endif %}
                {% if unit['is_lost_current'] %}
                    -> {{ translate('is-lost') }}
                {% elseif unit['is_lost_previous'] %}
                    -> {{ translate('has-been-found') }}
                {% endif %}
                {% if unit['is_broken_current'] %}
                    -> {{ translate('is-broken') }}
                {% elseif unit['is_broken_previous'] %}
                    -> {{ translate('has-been-repaired') }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </td>
    <td class="center lighter">
        {{ material['stock_quantity_previous'] }}
    </td>
    <td class="center lightest">
        {% if material['countDifference'] < 0 %}
            <span class="LineInventory__negative-diff">
                {{ material['countDifference'] }}
            </span>
        {% elseif material['countDifference'] > 0 %}
            <span class="LineInventory__positive-diff">
                +{{ material['countDifference'] }}
            </span>
        {% endif %}
    </td>
    <td class="LineInventory__current-quantity center">
        {{ material['stock_quantity_current'] }}
    </td>
    <td class="LineInventory__broken-quantity center lightest">
        {{ material['out_of_order_quantity_current'] ?: 0 }}
    </td>
</tr>
