<tr>
    <td>
        {{ material['reference'] }}
    </td>
    <td>
        {{ material['name'] }}
    </td>
    <td class="center">
        {{ material['quantity'] }}
    </td>
    <td class="right lighter">
        {{ material['replacementPrice']|format_currency(currency, formatCurrencyOptions, locale) }}
    </td>
    <td class="right lighter">
        {{ material['totalReplacementPrice']|format_currency(currency, formatCurrencyOptions, locale) }}
    </td>
</tr>
