<tr class="{{ html_classes('LineInventory', {
    'LineInventory--with-missing': material['hasMissing'],
    'LineInventory--with-broken' : material['hasBroken']
}) }}">
    <td>{{ material['reference'] }}</td>
    <td>
        {{ material['name'] }}
    </td>
    <td class="center lighter">
        {{ material['stock_quantity_previous'] }}
    </td>
    <td class="center lightest">
        {% if material['countDifference'] < 0 %}
            <span class="LineInventory__negative-diff">
                {{ material['countDifference'] }}
            </span>
        {% elseif material['countDifference'] > 0 %}
            <span class="LineInventory__positive-diff">
                +{{ material['countDifference'] }}
            </span>
        {% endif %}
    </td>
    <td class="LineInventory__current-quantity center">
        {{ material['stock_quantity_current'] }}
    </td>
    <td class="LineInventory__broken-quantity center lightest">
        {{ material['out_of_order_quantity_current'] ?: 0 }}
    </td>
</tr>
