<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Loxya{% if block('title') is not empty %} • {% block title %}{% endblock %}{% endif %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/icons/icon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/icons/icon-16x16.png') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('/icons/icon.svg') }}" />
    <link rel="icon" sizes="32x32" href="{{ asset('/favicon.ico') }}" />

    <link rel="manifest" href="{{ asset('/manifest.json') }}" />
    <link rel="apple-touch-icon" href="{{ asset('/icons/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Loxya" />
    <meta name="application-name" content="Loxya" />

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>