<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if IE]><link rel="icon" href="/favicon.ico"><![endif]-->

    <title>Robert2</title>

    {% if env is not same as('development') -%}
    <link href="{{ client_asset('/css/chunk-vendors.css') }}" rel="preload" as="style">
    <link href="{{ client_asset('/css/app.css') }}" rel="preload" as="style">
    {% endif -%}

    <link href="{{ client_asset('/js/chunk-vendors.js') }}" rel="preload" as="script">
    <link href="{{ client_asset('/js/app.js') }}" rel="preload" as="script">

    {% if env is not same as('development') -%}
    <link href="{{ client_asset('/css/chunk-vendors.css') }}" rel="stylesheet">
    <link href="{{ client_asset('/css/app.css') }}" rel="stylesheet">
    {% endif -%}

    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#4DBA87">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="robert2-client">
    <meta name="msapplication-TileImage" content="/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">

    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#4DBA87">
</head>
<body>
    <noscript><strong>{{ translate('enable-javascript-message') }}</strong></noscript>
    <div id="app">
        {{ include('blocks/loading.twig') }}
    </div>
    <script type="text/javascript">
//<![CDATA[
var __SERVER_CONFIG__ = {{serverConfig() | raw}};
//]]>
    </script>
    <script src="{{ client_asset('/js/chunk-vendors.js') }}"></script>
    <script src="{{ client_asset('/js/app.js') }}"></script>
</body>
</html>
