{% extends "base.twig" %}

{% block head %}
    {% if env is not same as('development') -%}
    <link href="{{ client_asset('/css/chunk-vendors.css') }}" rel="preload" as="style">
    <link href="{{ client_asset('/css/app.css') }}" rel="preload" as="style">
    {% endif -%}

    <link href="{{ client_asset('/js/chunk-vendors.js') }}" rel="preload" as="script">
    <link href="{{ client_asset('/js/app.js') }}" rel="preload" as="script">

    {% if env is not same as('development') -%}
    <link href="{{ client_asset('/css/chunk-vendors.css') }}" rel="stylesheet">
    <link href="{{ client_asset('/css/app.css') }}" rel="stylesheet">
    {% endif -%}
{% endblock %}

{% block body %}
    <noscript><strong>{{ translate('enable-javascript-message') }}</strong></noscript>
    <div id="app">
        {{ include('blocks/loading.twig') }}
    </div>
    <script type="text/javascript">
//<![CDATA[
var __SERVER_CONFIG__ = {{ serverConfig|raw }};
//]]>
    </script>
    <script src="{{ client_asset('/js/chunk-vendors.js') }}"></script>
    <script src="{{ client_asset('/js/app.js') }}"></script>
{% endblock %}