{% extends 'pdf/base.twig' %}

{% block title %}{{ __('estimate') }}{% endblock %}

{% block content %}
<table class="layout-table">
    <tr>
        <td class="half">
            {{-
                include('blocks/company-address.twig', {
                    company,
                    showLegalNumbers: true,
                    showLogo: true,
                })
            -}}
        </td>
        <td class="half">
            {% set currencyName = currency|currency_name(locale)|ucfirst -%}
            <h2 class="box center">{{ __('estimate-title', currencyName) }}</h2>
            <table class="layout-table">
                <tr>
                    <td class="size12">{{ __('on-date', date|format_date('short', locale=locale))|ucfirst }}</td>
                    <td class="size12 right">{{ __('page', 1) }}</td>
                </tr>
            </table>
            <p>{{ __('beneficiary') }}</p>
            <h2 class="vspace10 indent5">
                {{ include('blocks/beneficiary.twig', { beneficiary }) }}
            </h2>
        </td>
    </tr>
</table>

<div class="vspace5">
    {% if booking.title is not empty -%}
    <p>{{ __('event', booking.title) }}</p>
    {% endif -%}
    <p class="strong">
        {{ booking.period|format_period('full', locale=locale)|ucfirst -}}
        {% if booking.location %}, {{ __('in-location', booking.location) }}{% endif ~%}
    </p>
    <table>
        <thead>
            <tr>
                <th class="left">{{ __('category') }}</th>
                <th>{{ __('quantity') }}</th>
                <th>{{ __(hasVat ? 'daily-total-excl-tax' : 'daily-total') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categoriesSubTotals %}
            <tr>
                <td>
                    {% if category['name'] is not empty %}
                    {{ category['name'] }}
                    {% else %}
                    {{ __('not-categorized') }}
                    {% endif %}
                </td>
                <td class="center">{{ __n('items-count', category['quantity']) }}</td>
                <td class="right">
                    {{ category['subTotal']|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="size8 lighter">{{ __('invoice-note-detail-next-page') }}</p>
</div>

<div class="vspace5 size8">
    <table class="totals-table">
        <thead>
            <tr>
                <th>{{ __('daily-total') }}</th>
                <th>{{ __('degressive-rate') }}</th>
                {% if hasDiscount -%}
                <th>{{ __('discount') }}</th>
                {% endif -%}
                <th colspan="2">{{ __('totals') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center">
                <td>
                    <div class="vspace2">
                        {{ dailyTotal|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                <td>
                    <div class="vspace2">
                        ×&nbsp;<strong>{{ degressiveRate|format_number(locale=locale) }}</strong>
                        <span class="lighter">({{ __n('number-of-days', booking.period.asDays) }})</span>
                    </div>
                </td>
                {% if hasDiscount -%}
                <td rowspan="{{ hasVat ? 3 : 2 }}">
                    <div class="vspace2">
                        {{ __('discount-of-amount', [
                            discountRate|format_percent_number({max_fraction_digit: 4}, locale=locale),
                            totalWithoutDiscount|format_currency(currency, locale=locale),
                        ]) }}
                    </div>
                    <div class="vspace5 strong">
                        - {{ totalDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif -%}
                <td rowspan="{{ hasVat ? 1 : 2 }}">
                    <div class="vspace2 center">
                        {% if hasVat -%}
                            {{ __('total-excl-tax') }}
                        {% else -%}
                            <strong class="size10">{{ __('total-due') }}</strong><br />
                            <span class="size9">{{ __('tax-not-applicable') }}</span>
                        {% endif -%}
                    </div>
                </td>
                <td rowspan="{{ hasVat ? 1 : 2 }}">
                    <div class="vspace2 right">
                        {{ totalWithoutTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            <tr class="center">
                <td rowspan="{{ hasVat ? 2 : 1 }}" colspan="2">
                    <div class="vspace5 strong">
                        = {{ totalWithoutDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% if hasVat -%}
                <td>
                    <div class="vspace2 center">
                        {{ __('taxes') }}
                        ({{ vatRate|format_percent_number({max_fraction_digit: 2}, locale=locale) }})
                    </div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ totalTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif -%}
            </tr>
            {% if hasVat -%}
            <tr>
                <td>
                    <div class="vspace2 strong center">
                        {{ __('total-incl-taxes') }}<br>
                        {{ __('total-due') }}
                    </div>
                </td>
                <td>
                    <div class="vspace2 right strong">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <p class="vspace5 size10">
        {{ __('estimate-acceptance-date') }}
    </p>
    <p class="size10">
        {{ __('estimate-acceptance-signature') }}
    </p>
</div>
<div class="changePage vspace5">
    <table class="layout-table">
        <tr>
            <td class="half">
                {{-
                    include('blocks/company-address.twig', {
                        company,
                        showLegalNumbers: false,
                        showLogo: true,
                    })
                -}}
            </td>
            <td class="half">
                <h2 class="box center">{{ __('estimate-details-title') }}</h2>
                <table class="layout-table">
                    <tr>
                        <td class="size12">{{ __('on-date', date|format_date('short', locale=locale))|ucfirst }}</td>
                        <td class="size12 right">{{ __('page', 2) }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<table class="listing-table">
    <thead>
        <tr>
            <th>{{ __('ref') }}</th>
            <th>{{ __('designation') }}</th>
            <th>{{ __('qty') }}</th>
            <th>{{ __(hasVat ? 'unit-price-excl-tax' : 'unit-price') }}</th>
            <th>{{ __('replacement-value') }}</th>
            <th>{{ __(hasVat ? 'total-excl-tax' : 'total') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for subCategory, materialsList in materials %}
            <tr>
                <td class="section-title" colspan="6">
                    {% if subCategory == '--' %}
                        {{ __('not-categorized') }}
                    {% else %}
                        {{ subCategory|replace({ '__other': __('other-materials') }) }}
                    {% endif %}
                </td>
            </tr>
            {% for material in materialsList %}
            <tr>
                <td>{{ material.reference }}</td>
                <td>{{ material.name }}</td>
                <td class="center">{{ material.quantity }}</td>
                <td class="right">
                    {{ material.unit_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ (material.replacement_price ?? 0)|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ material.total_price|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}