{% extends "pdf/base.twig" %}

{% block title %}{{ translate("Estimate") }}{% endblock %}

{% block content %}
<table class="layout-table">
    <tr>
        <td class="half">
            {{ include('blocks/company-address.twig', {
                company: company,
                showLegalNumbers: true,
                showLogo: true,
            }) }}
        </td>
        <td class="half">
            {% set currencyName = currency|currency_name(locale)|capitalize -%}
            <h2 class="box center">{{ translate('estimate-title', [currencyName]) }}</h2>
            <table class="layout-table">
                <tr>
                    <td class="size12">{{ translate('on-date', date|format_date('short', locale=locale)) }}</td>
                    <td class="size12 right">{{ translate('page', 1) }}</td>
                </tr>
            </table>
            <p>
                {{ translate('beneficiary') }}
            </p>
            <h2 class="vspace10 indent5">
                {{ include('blocks/beneficiary.twig', { beneficiary: beneficiary }) }}
            </h2>
        </td>
    </tr>
</table>

<div class="vspace5">
    {% if booking.title is not empty -%}
    <p>{{ translate('event', [booking.title]) }}</p>
    {% endif -%}
    <p class="strong">
        {% if booking.start_date == booking.end_date %}
        {{ translate('on-date', [booking.start_date|format_date('full', locale=locale)]) }},
        {% else %}
        {{ translate('from-to-dates', [booking.start_date|format_date('full', locale=locale), booking.end_date|format_date('full', locale=locale)]) }},
        {% endif %}
        {% if booking.location %}
        {{ translate('inLocation', [booking.location]) }}
        {% endif %}
    </p>
    <table>
        <thead>
            <tr>
                <th class="left">{{ translate('category') }}</th>
                <th>{{ translate('quantity') }}</th>
                <th>{{ translate(hasVat ? 'daily-total-excl-tax' : 'daily-total') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categoriesSubTotals %}
            <tr>
                <td>
                    {% if category['name'] is not empty %}
                    {{ category['name'] }}
                    {% else %}
                    {{ translate('not-categorized') }}
                    {% endif %}
                </td>
                <td class="center">{{ plural('items-count', category['quantity']) }}</td>
                <td class="right">
                    {{ category['subTotal']|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="size8 lighter">{{ translate('invoice-note-detail-next-page') }}</p>
</div>

<div class="vspace5 size8">
    <table class="totals-table">
        <thead>
            <tr>
                <th>{{ translate('daily-total') }}</th>
                <th>{{ translate('degressive-rate') }}</th>
                {% if hasDiscount -%}
                <th>{{ translate('discount') }}</th>
                {% endif -%}
                <th colspan="2">{{ translate('totals') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center">
                <td>
                    <div class="vspace2">
                        {{ dailyTotal|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                <td>
                    <div class="vspace2">
                        ×&nbsp;<strong>{{ degressiveRate|format_number(locale=locale) }}</strong>
                        <span class="lighter">({{ plural('number-of-days', booking.duration.days) }})</span>
                    </div>
                </td>
                {% if hasDiscount -%}
                <td rowspan="{{ hasVat ? 3 : 2 }}">
                    <div class="vspace2">
                        {{ translate('discount-of-amount', [
                            discountRate|format_percent_number({max_fraction_digit: 4}, locale=locale),
                            totalWithoutDiscount|format_currency(currency, locale=locale),
                        ]) }}
                    </div>
                    <div class="vspace5 strong">
                        - {{ totalDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif -%}
                <td rowspan="{{ hasVat ? 1 : 2 }}">
                    <div class="vspace2 center">
                        {% if hasVat -%}
                            {{ translate('total-excl-tax') }}
                        {% else -%}
                            <strong class="size10">{{ translate('total-due') }}</strong><br />
                            <span class="size9">{{ translate('tax-not-applicable') }}</span>
                        {% endif -%}
                    </div>
                </td>
                <td rowspan="{{ hasVat ? 1 : 2 }}">
                    <div class="vspace2 right">
                        {{ totalWithoutTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            <tr class="center">
                <td rowspan="{{ hasVat ? 2 : 1 }}" colspan="2">
                    <div class="vspace5 strong">
                        = {{ totalWithoutDiscount|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% if hasVat -%}
                <td>
                    <div class="vspace2 center">
                        {{ translate('taxes') }}
                        ({{ vatRate|format_percent_number({max_fraction_digit: 2}, locale=locale) }})
                    </div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ totalTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif -%}
            </tr>
            {% if hasVat -%}
            <tr>
                <td>
                    <div class="vspace2 strong center">
                        {{ translate('total-incl-taxes') }}<br>
                        {{ translate('total-due') }}
                    </div>
                </td>
                <td>
                    <div class="vspace2 right strong">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <p class="vspace5 size10">
        {{ translate('estimate-acceptance-date') }}
    </p>
    <p class="size10">
        {{ translate('estimate-acceptance-signature') }}
    </p>
</div>

<div class="changePage vspace5">
    <table class="layout-table">
        <tr>
            <td class="half">
                {{ include('blocks/company-address.twig', {
                    company: company,
                    showLegalNumbers: false,
                    showLogo: true,
                }) }}
            </td>
            <td class="half">
                <h2 class="box center">{{ translate('estimate-details-title') }}</h2>
                <table class="layout-table">
                    <tr>
                        <td class="size12">{{ translate('on-date', date|format_date('short', locale=locale)) }}</td>
                        <td class="size12 right">{{ translate('page', 2) }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<table class="listing-table">
    <thead>
        <tr>
            <th>{{ translate('ref') }}</th>
            <th>{{ translate('designation') }}</th>
            <th>{{ translate('qty') }}</th>
            <th>{{ translate(hasVat ? 'unit-price-excl-tax' : 'unit-price') }}</th>
            <th>{{ translate('replacement-value') }}</th>
            <th>{{ translate(hasVat ? 'total-excl-tax' : 'total') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for subCategory, materialsList in materials %}
            <tr>
                <td class="section-title" colspan="6">
                    {% if subCategory == '--' %}
                        {{ translate('not-categorized') }}
                    {% else %}
                        {{ subCategory|replace({ '__other': translate('other-materials') }) }}
                    {% endif %}
                </td>
            </tr>
            {% for material in materialsList %}
            <tr>
                <td>{{ material.reference }}</td>
                <td>{{ material.name }}</td>
                <td class="center">{{ material.quantity }}</td>
                <td class="right">
                    {{ material.unit_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ material.replacement_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ material.total_price|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}