{% extends "pdf/base.twig" %}

{% block title %}{{ translate("releaseSheet") }}{% endblock %}

{% block content %}
<h1 class="center vspace5">
    {{ translate('releaseSheet') }}
</h1>
<table class="layout-table">
    <tr>
        <td class="third">
            <div class="spaceBottom5">
                {{ include('blocks/company-address.twig', {
                    company: company,
                    withLegalNumbers: false,
                }) }}
            </div>
        </td>
        <td>
            <h2 class="spaceBottom5">
                {{ translate('event', [event['title']]) }}
            </h2>
            <h3>
                {{ translate(
                    'fromToDates',
                    [event['start_date']|format_date('short', locale=locale),
                    event['end_date']|format_date('short', locale=locale)]
                ) }}
            </h3>

            {% if event['is_confirmed'] %}
            <p>{{ translate('thisEventIsConfirmed') }}</p>
            {% endif %}
        </td>
        <td class="third indent5">
            {% if event['location'] %}
            <h2 class="spaceBottom5">{{ translate('location', [event['location']]) }}</h2>
            {% endif %}

            <h3>{{ translate('beneficiary') }}</h3>
            <p class="size12 spaceBottom5">
                {{ include('blocks/beneficiary-address.twig', { person: event['beneficiaries'][0] }) }}
            </p>
        </td>
    </tr>
</table>

<table class="layout-table">
    <tr>
        <td class="{{ event['beneficiaries'][1] is defined ? 'third' : 'two-third' }} size11">
            {% if replacementAmount %}
            <p>
                {{ translate('eventTotalReplacementAmount', [
                    replacementAmount|format_currency(currency, formatCurrencyOptions, locale)
                ]) }}
            </p>
            {% endif %}
            <p>
                {{ translate('onDate', [date|format_date('long', locale=locale)]) }}
            </p>
        </td>
        <td>
            {% if event['technicians'] %}
            <h3>{{ translate('technicians') }}</h3>
            <ul class="spaceBottom5">
                {% for technician in event['technicians'] %}
                <li class="spaceBottom2">
                    {{ technician['full_name'] }}
                    {% if technician['pivot']['position'] is not empty %}
                    <span class="lighter">- {{ technician['pivot']['position'] }}</span>
                    {% endif %}
                    {% if technician['phone'] is not empty %}
                    <br />{{ technician['phone'] }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </td>
        {% if event['beneficiaries'][1] is defined %}
        <td class="third indent5">
            <h3>{{ translate('otherBeneficiaries') }}</h3>
            <ul class="spaceBottom5">
                {% for otherBeneficiary in event['beneficiaries'] %}
                {% if loop.index0 > 0 %}
                <li class="spaceBottom2">
                    {{ include('blocks/beneficiary-address.twig', { person: otherBeneficiary }) }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </td>
        {% endif %}
    </tr>
</table>

{% if event['description'] is not empty %}
<h2>{{ translate('descriptionNotes') }}</h2>
<p>
    {{ event['description']|nl2br }}
</p>
{% endif %}

<h2 class="vspace2">{{ translate('materials') }}</h2>
<table class="size9 listing-table">
    <thead>
        <tr>
            <th>{{ translate('ref') }}</th>
            <th>{{ translate('designation') }}</th>
            <th>{{ translate('qty') }}</th>
            <th>{{ translate('replacementValue') }}</th>
            <th>{{ translate('totalReplacementValue') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if materialDisplayMode == 'categories' or materialDisplayMode == 'sub-categories' %}
        {% for subCategory in materialList %}
            <tr>
                <td class="section-title" colspan="5">
                    {% if subCategory['name'] is null %}
                    {{ translate('otherMaterials') }}
                    {% else %}
                    {{ subCategory['name'] }}
                    {% endif %}
                </td>
            </tr>
            {% for material in subCategory['materials'] %}
                {{ include('blocks/materials/line-summary.twig', { material: material }) }}
            {% endfor %}
        {% endfor %}
        {% elseif materialDisplayMode == 'parks' %}
        {% for park in materialList %}
            <tr>
                <td class="section-title" colspan="5">
                    {% if park['name'] is not empty %}
                        {{ park['name'] }}
                    {% else %}
                        ({{ translate('unknown-park') }})
                    {% endif %}
                </td>
            </tr>
            {% for material in park['materials'] %}
                {{ include('blocks/materials/line-summary.twig', { material: material }) }}
            {% endfor %}
        {% endfor %}
        {% else %}
            {% for material in materialList %}
                {{ include('blocks/materials/line-summary.twig', { material: material }) }}
            {% endfor %}
        {% endif %}
    </tbody>
</table>


<table class="layout-table">
    {% if customText is not empty %}
    <tr>
        <td style="padding: 3mm 0;" colspan="2">
            <h2>{{ customTextTitle }}</h2>
            <p>{{ customText|nl2br }}</p>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td class="half inset">
            <h3 class="center">{{ translate('output') }}</h3>
            <p class="strong">
                {{ translate('outputScheduledFor', [event['start_date']|format_date('long', locale=locale)]) }}
            </p>
            <p>{{ translate('effectiveDate') }}</p>
            <p class="strong vspace5 spaceBottom5">{{ translate('signature') }}</p>
        </td>
        <td class="inset">
            <h3 class="center">{{ translate('return') }}</h3>
            <p class="strong">
                {{ translate('returnScheduledFor', [event['end_date']|format_date('long', locale=locale)]) }}
            </p>
            <p>{{ translate('effectiveDate') }}</p>
            <p class="strong vspace5 spaceBottom5">{{ translate('signature') }}</p>
        </td>
    </tr>
</table>
{% endblock %}
