{% extends "pdf/base.twig" %}

{% block title %}{{ translate("Invoice") }} n°{{ number }}{% endblock %}

{% block content %}
<table class="layout-table">
    <tr>
        <td class="half">
            {{ include('blocks/company-address.twig', {
                company: company,
                showLegalNumbers: true,
                showLogo: true,
            }) }}
        </td>
        <td class="half">
            <h2 class="box center">{{ translate('invoice-title', [currencyName, number]) }}</h2>
            <table class="layout-table">
                <tr>
                    <td class="size12">{{ translate('on-date', date|format_date('short', locale=locale)) }}</td>
                    <td class="size12 right">{{ translate('page', 1) }}</td>
                </tr>
            </table>
            <p>
                {{ translate('beneficiary') }}
            </p>
            <h2 class="vspace10 indent5">
                {{ include('blocks/beneficiary.twig', { beneficiary: beneficiary }) }}
            </h2>
        </td>
    </tr>
</table>

<div class="vspace5">
    {% if booking.title is not empty -%}
    <p>{{ translate('event', [booking.title]) }}</p>
    {% endif -%}
    <p class="strong">
        {% if booking.start_date == booking.end_date %}
        {{ translate('on-date', [booking.start_date|format_date('full', locale=locale)]) }},
        {% else %}
        {{ translate('from-to-dates', [booking.start_date|format_date('full', locale=locale), booking.end_date|format_date('full', locale=locale)]) }},
        {% endif %}
        {% if booking.location %}
        {{ translate('inLocation', [booking.location]) }}
        {% endif %}
    </p>
    <table>
        <thead>
            <tr>
                <th class="left">{{ translate('category') }}</th>
                <th>{{ translate('quantity') }}</th>
                <th>{{ translate(hasVat ? 'daily-total-excl-tax' : 'daily-total') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categoriesSubTotals %}
            <tr>
                <td>
                    {% if category['name'] is not empty %}
                    {{ category['name'] }}
                    {% else %}
                    {{ translate('not-categorized') }}
                    {% endif %}
                </td>
                <td class="center">{{ plural('items-count', category['quantity']) }}</td>
                <td class="right">
                    {{ category['subTotal']|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="size8 lighter">{{ translate('invoice-note-detail-next-page') }}</p>
</div>

<div class="vspace5 size8">
    <table>
        <thead>
            <tr>
                <th>{{ translate(hasVat ? 'daily-amount-excl-tax' : 'daily-amount') }}</th>
                <th>{{ translate('discount-rate') }}</th>
                <th>{{ translate('daily-total') }}</th>
                <th>{{ translate('degressive-rate') }}</th>
                <th colspan="2">{{ translate('totals') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center">
                <td rowspan="{{ hasVat ? 3 : 1 }}" style="border-bottom: 1pt solid #888;">
                    <div class="vspace2">
                        {{ dailyTotalWithoutDiscount|format_currency(currency, locale=locale) }}
                    </div>
                    <div class="vspace2 lighter">
                        {{ translate('discountable') }}<br>
                        {{ dailyTotalDiscountable|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                <td rowspan="{{ hasVat ? 3 : 1 }}" style="border-bottom: 1pt solid #888;">
                    <div class="vspace2">
                        {% if hasDiscount %}
                        {{ discountRate|format_percent_number({fraction_digit: 4}, locale=locale) }}<br><br>
                        - {{ dailyTotalDiscount|format_currency(currency, locale=locale) }}
                        {% else %}
                        <span class="lighter">{{ translate('no-discount') }}</span>
                        {% endif %}
                    </div>
                </td>
                <td rowspan="{{ hasVat ? 3 : 1 }}" style="border-bottom: 1pt solid #888;">
                    {% if hasVat %}
                    <div class="vspace2 right">
                        {{ translate('excl-tax') }}<br>
                        {{ dailyTotalWithoutTaxes|format_currency(currency, locale=locale) }}
                    </div>
                    <div class="vspace2 right lighter">
                        {{ translate('taxes') }} ({{ vatRate|format_percent_number({fraction_digit: 1}, locale=locale) }})<br>
                        {{ dailyTotalTaxes|format_currency(currency, locale=locale) }}
                    </div>
                    {% endif %}
                    <div class="vspace2 right">
                        {% if hasVat %}{{ translate('incl-tax') }}<br>{% endif %}
                        {{ dailyTotalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                <td rowspan="{{ hasVat ? 3 : 1 }}" style="border-bottom: 1pt solid #888;">
                    <div class="vspace2">
                        ×&nbsp;<strong>{{ degressiveRate|format_number(locale=locale) }}</strong><br><br>
                        <span class="lighter">
                            ({{ plural('number-of-days', booking.duration) }})
                        </span>
                    </div>
                </td>
                {% if hasVat %}
                <td>
                    <div class="vspace2 strong center">{{ translate('total-excl-tax') }}</div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ totalWithoutTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif %}
                {% if not hasVat %}
                <td rowspan="1">
                    <div class="vspace2 strong size10 center">
                        {{ translate('total-due') }}
                    </div>
                    <div class="vspace2 size9 center">
                        {{ translate('tax-not-applicable') }}
                    </div>
                </td>
                <td rowspan="1">
                    <div class="vspace2 size10 strong right">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
                {% endif %}
            </tr>
            {% if hasVat %}
            <tr>
                <td>
                    <div class="vspace2 strong center">{{ translate('total-incl-taxes') }}</div>
                </td>
                <td>
                    <div class="vspace2 right">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="vspace2 strong size10 center">
                        {{ translate('total-due') }}
                    </div>
                </td>
                <td>
                    <div class="vspace2 size10 strong right">
                        {{ totalWithTaxes|format_currency(currency, locale=locale) }}
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="changePage vspace5">
    <table class="layout-table">
        <tr>
            <td class="half">
                {{ include('blocks/company-address.twig', {
                    company: company,
                    showLegalNumbers: false,
                    showLogo: true,
                }) }}
            </td>
            <td class="half">
                <h2 class="box center">{{ translate('invoice-details-title', [number]) }}</h2>
                <table class="layout-table">
                    <tr>
                        <td class="size12">{{ translate('on-date', date|format_date('short', locale=locale)) }}</td>
                        <td class="size12 right">{{ translate('page', 2) }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<table class="listing-table">
    <thead>
        <tr>
            <th>{{ translate('ref') }}</th>
            <th>{{ translate('designation') }}</th>
            <th>{{ translate('qty') }}</th>
            <th>{{ translate(hasVat ? 'unit-price-excl-tax' : 'unit-price') }}</th>
            <th>{{ translate('replacement-value') }}</th>
            <th>{{ translate(hasVat ? 'total-excl-tax' : 'total') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for subCategory, materialsList in materials %}
            <tr>
                <td class="section-title" colspan="6">
                    {% if subCategory == '--' %}
                        {{ translate('not-categorized') }}
                    {% else %}
                        {{ subCategory|replace({ '__other': translate('other-materials') }) }}
                    {% endif %}
                </td>
            </tr>
            {% for material in materialsList %}
            <tr>
                <td>{{ material.reference }}</td>
                <td>{{ material.name }}</td>
                <td class="center">{{ material.quantity }}</td>
                <td class="right">
                    {{ material.unit_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ material.replacement_price|format_currency(currency, locale=locale) }}
                </td>
                <td class="right">
                    {{ material.total_price|format_currency(currency, locale=locale) }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}